<% if logged_in?(:site_admin) %>
<nav class="breadcrumb blogcrumb">

    <% if blog.draft? %>
        <%= link_to fa_icon('square-o'), toggle_status_blog_path(blog) %>
    <% else %>
        <%= link_to fa_icon('check-square-o'), toggle_status_blog_path(blog) %>
    <% end %>

        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>

        <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>
<% end %>