<footer class="portfolio-footer">
    <div class="container">
        <p class="float-right">
            <% if !current_page?(portfolios_path) %>
            <%= link_to "Return to Portfolios", portfolios_path %> |
            <% end %>
            <a href="#">Beam me up!</a>
        </p>
        <%= copyright_generator %>
    </div>
</footer>