<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>

        <div class="d-flex flex-row">
            <div class="p-2 profile-img">

                <%= image_tag "ProfileNew.jpg", width: 300, alt: "profile-headshot" %>

            </div>

            <div class="p-2">
                <h3>Hello!</h3>
            </div>
        </div>


    </div>

</div>