<h1>Contact</h1>

<p><%= number_to_phone "555-555-5555" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "88.2" %></p>
<p><%= number_with_delimiter "214214819048012984091" %> used to live here, now it's a ghost town...</p>


