<main role="main" class="inner cover">
    <h1 class="cover-heading mb-4">Welcome!</h1>
    <p class="lead">
        Learn from yesterday, live for today, hope for tomorrow.
        <br>
        The important thing is not to stop questioning.
        <br>
        <i>- Albert Einstein</i>
    </p>
    <p class="lead"></p>
    <!-- <a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
</main>